article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import '_mq.scss';
$darkBlue: rgb(40,53,147);
$primaryColor: rgb(63,81,181);
$lightColor: rgb(197,202,233);
$accentColor: rgb(255,110,64);
$accentStrong: rgb(255,61,0);
$darkBlack: rgb(35,35,35);


body {
	font-family: 'Muli', cursive;
}

img {
	width: 100%;
}

h1,h2,h3,h4,h5 {
	font-family: 'Bitter', serif;
	font-weight: 100;
	color: $accentStrong;
}
h1 {
	font-size: 34px;
	color: $darkBlue;
}
h2 {
	font-size: 30px;
	color: $darkBlue;
}

p {
	letter-spacing: 0.86px;
	line-height: 1.618;
	color: $darkBlack;
}
li {
	list-style: none;
	color: $darkBlack;
}
a {
	text-decoration: none;
	color: white;
}
.wrapper {
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

.linkTransparent {
	border: 3px solid white;
	border-radius: 4px;
	padding: 8px 20px;
	cursor: pointer;
}
.linkFull {
	border: none;
	border-radius: 3px;
	background: $accentStrong;
	font-size: 20px;
	padding: 10px;
	font-weight: 100;
}
.accounts a:hover, button:hover, .linkTransparent a:hover, .linkFull:hover {
	cursor: pointer;
	transform: translateY(-1px);
	box-shadow: 0 2px 10px 2px rgba($lightColor, 0.8);
}



nav {
	width: 100%;
	background: $primaryColor;
	text-align: center;
	font-size: 20px;
	.wrapper {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: space-between; 
		padding: 8px 0;
	}
	h2 {
		margin: 10px 0;
		a {
			color: white;
		}
	}
	.accountsContainer {
		display: flex;
		align-items: center;
		.accounts {
			a {
				border: 1px solid white;
				border-radius: 4px;
				font-size: 14px;
				margin-left: 25px;
				letter-spacing: 1px;
				font-weight: 100;
				padding: 10px 20px;
			}
		}
		.teams {
			a {
				padding: 10px 40px; 
				background: $accentStrong;
				border: none;
				margin-left: 0;
			}
		}
	}
}
.socialMedia {
	background: $darkBlue;
	.wrapper {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 25px;
	}
	.fa {
		color: white;
		font-size: 16px;
		margin-left: 20px;
	}
	.fa-twitter {
		margin-left: 30px;
	}
}




/*HOME PAGE*/

.homePage {
	width: 100%;
	height: calc(100vh - 84px);
	min-height: 540px;
	display: flex;
}

.homePageText {
	flex: 1;
	font-weight: 100;
	text-align: left;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	div {
		padding: 20px 40px;
		.linkFull:hover {
			cursor: pointer;
			box-shadow: 0 2px 10px 2px rgba($lightColor, 0.8);
		}
	}
	h1 {
		margin: 0;
		color: $darkBlue;
	}
	p{
		width: 80%;
		font-size: 16px;
		margin: 30px auto;
	}
	p:last-of-type {
		margin-bottom: 40px;
	}
	a {
		font-size: 16px;
		padding: 15px 40px;
	}
}
.homePageImage {
	background: url('../../assets/img/homeHeader.jpg');
	background-size: cover;
	background-position: right;
	height: 100%;
	flex: 1;
}


.ctaBanner {
	width: 100%;
	background: $accentStrong;
	color: white;
	height: 70px;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	.wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 8px 0;
	}
}

.information {
	height: 100vh;
	.wrapper {
		display: flex;
		height: 100%;
		min-height: 450px;
		article {
			padding: 40px 20px;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			.infoText {
				background: white;
				padding: 10px 25px;
				text-align: center;
			}
			li {
				text-align: left;
				font-size: 20px;
				margin-bottom: 30px;
				span {
					font-weight: bold;
					font-size: 32px;
					color: $accentStrong
				}
			}
		}
		.secondImage {
			flex: 1;
			background: url(../../assets/img/emptyCourt.jpg);
			background-size: cover;
			background-position: top;
		}
	}
}


/*LOGIN*/


.registerArea {
	height: calc(100vh - 84px);
	background: linear-gradient(rgba($lightColor,0.8), rgba($lightColor,0.8)), url(../../assets/img/signUpHero.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	min-height: 660px;
	margin: 0 auto;
	box-shadow: 0 2px 20px 4px black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h2 {
		text-align: center;
	}
}

form {
	display: flex;
	background: rgba(255,255,255,0.9);
	flex-direction: column;
	padding: 25px;
	box-shadow: 0 3px 20px 1px grey;
	max-width: 400px;
	border-radius: 4px;
	h2 {
		margin: 10px 0 20px;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
	}
}
input {
	border: none;
	border-bottom: 1px solid grey;
	margin-bottom: 40px;
	background: transparent;
	height: 40px;
	font-size: 16px;
	font-weight: 100;
	padding: 10px;
	letter-spacing: 1px;
}
form button, .registerArea div button {
	text-align: center;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	height: 40px;
	background-color: rgba($accentStrong,1);
	color: white;
	margin: 0 auto;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 14px;
}
label {
	text-transform: uppercase;
	color: grey;
	font-size: 12px;
}

.preLogin {
	width: 100%;
	height: 500px;
	background: white;
	padding: 30px;
	h2 {
		margin: 0;
	}
}
.redclass {
	background: rgba(255,255,255,0.6)
}

/*TEAM PAGES*/
.teamContainer {
	width: 100%;
	.wrapper {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		select {
			margin: 25px auto 15px;
			text-align: center;
			font-size: 18px;
			padding: 10px 5px;
			border: none;
			max-width: 200px;
			box-shadow:  0 4px 10px -2px gray;;
			&:hover {
				// box-shadow: 0px 4px 10px 2px gray;
				cursor: pointer;
			}
		}
	}
}

.teamDetails {
	display: flex;
	color: $darkBlue;
	overflow: hidden;
	padding: 20px;
	div {
		flex: 1;
	}
}
.hider {
	display: none;
}

.detailsStack {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	.imageContainer {
		display: flex;
		div {
			display: flex;
			flex-direction: column;
			padding: 10px;
		}
		img {
			width: 120px;
			height: 120px;
		}
	}
	.teamInfo {
		padding: 0 20px;
		display: flex;
		div {
			flex: 1;
			text-align: left;
			p {
				font-size: 14px;
			}
		}
	}
}

.teamTable {
	max-height: 350px;
	overflow: scroll;
	box-shadow:  0 4px 20px -2px gray;;

}
table {
	width: 100%;
	background: rgba($lightColor, 0.2);
}
thead tr th {
	font-weight: 900;
	background: rgba($lightColor, 1);
}
tr {
	background: transparent;
	color: $darkBlack;
	font-weight: 500;
}
tbody tr td, tbody tr th, thead tr th {
	padding: 10px 5px;
	text-align: left;
}

tr:hover, tr:nth-child(even):hover {
	background: linear-gradient(rgba(177,177,177,0.2), rgba(222,222,222,1));
	// cursor: pointer;
}

// THE USER'S TEAM

.rosterContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	h1 {
		text-align: center;
	}
	.ctaBanner {
		justify-content: center;
		h2 {
			color: white;
		}
	}
}


.myTeam {
	width: 80%;
	max-width: 960px;
	margin: 10px auto 40px;
	tbody a {
		color: $primaryColor;
		&:hover {
			color: $darkBlue;
			cursor: pointer;
		}
	}
	caption {
		margin: 20px 0;
	}
}
@media screen and (max-width: 1240px) {
	.myTeam {
		width: 95%;
	}
}


.myTeam {
	thead {
		th{
			text-align: right;
			&:first-of-type {
				text-align: left;
			}
		}
	}
	tbody {
		td.smallTable {
			width: 50px;
			text-align: right;
		}
		td.medTable {
			width: 60px;
			text-align: right;
		}
		td.largeTable {
			width: 80px;
			text-align: right;
		}
		tr[scope="row"] {
			min-width: 270px;
		}
	}
}


footer {
	background: $darkBlue;
	color: white;
	text-align: center;
	padding: 20px 10px;
}

.teamInfo-bold {
	font-weight: bold;
}

.exitmodal {
	font-size: 30px;
	color: $accentColor;
	position: absolute;
	top: 10px;
	right: 20px;
	&:hover {
		cursor: pointer;
	}
}

.playerInfoContainer {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	background: white;
	padding: 0 10px;
	position: relative;
	h5 {
		margin-left: 20px;
	}
}

.modal {
	// display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	h3, h4, h5 {
		color: $primaryColor;
	}
}

.stats .table {
    overflow: hidden;
    max-width: 1440px;
    width: 90%;
    overflow: scroll;
    background: white;
    margin: 0 auto;
    padding: 0 10px;
    tr {
    	box-shadow: 0 0 3px 1px lightgrey;
    }
}

.stats tr {
	background-color: white;
}



.playerDetailInfo {
	display: flex;
	margin-left: 5px;
	h4 {
		padding: 0 3px;
	}
	h4:first-of-type {
		border-left: 1px solid $accentColor;
	}
}

table tr, table th {
	font-size: 14px;
}

@media (max-width: 1000px) {
	h2 {
		font-size: 26px;
	}
	.teamContainer {
		.wrapper {
			width: 100%;
		}
	}
	.detailsStack {
		.teamInfo {
			div {
				p {
					font-size: 12px;
				}
			}
		}
	}
	table {
		font-size: 14px;
	}
	//at responsive, we take out 'Position' column in the team table up top
	.teamTable, .detailsStack {
		width: 80%;
		margin: 0 auto;
		thead tr th:nth-of-type(2), tbody tr td:nth-of-type(1) {
			display: none;
		}
	}

	//at responsive, we take out 'FTM-FTA' and 'FGM-FGA' attributes in the user's team
	.myTeam {
		thead tr th.fgm, tbody tr td.fgm,
		thead tr th.ftm, tbody tr td.ftm {
			display: none;
		}
		.smallTable {
			width: 60px;
		}
		.largeTable {
			width: 90px;
		}
	}

	.myTeam {
		thead {
			th{
				text-align: right;
				&:first-of-type {
					text-align: left;
				}
			}
		}
		tbody {
			td.smallTable {
				width: 60px;
				text-align: right;
			}
			td.medTable {
				width: 60px;
				text-align: right;
			}
			td.largeTable {
				width: 90px;
				text-align: right;
			}
			tr[scope="row"] {
				min-width: 270px;
			}
		}
	}
}

@media (max-width: 840px) {
	.homePageText {
		h1 {
			font-size: 30px;
		}
		p {
			width: 100%;
		}
	}
	.ctaBanner {
		.linkTransparent {
			display: none;
		}
	}

}


@media (max-width: 780px) {
	nav {
		.accountsContainer {
			.accounts {
				padding: 10px 0;
				font-size: 10px;
			}
		}
	}
	nav > .wrapper {
		flex-direction: column;
	}

	.homePage {
			flex-direction: column;
	} 
	.homePageImage {
		display: none;
	}
	.homePageText {
		background: linear-gradient(rgba($lightColor,0.2), rgba($lightColor,0.2)), url('../../assets/img/homeHeader.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		div {
			background: rgba(255,255,255,0.8);
		}
	}
	.ctaBanner {
		font-size: 12px;
		text-align: center;
	}
	.secondImage {
		display: none;
	}
	.information .wrapper article  {
		background: url('../../assets/img/emptyCourt.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
	.information .wrapper article .infoText {
	    background: rgba(255,255,255,0.97);
	}
	.teamDetails {
		flex-direction: column;
		flex-wrap: wrap;
		.imageContainer {
			h2 {
				font-size: 30px;
				margin: 0;
			}
		}
		.teamInfo {
			margin: 14px 0;
		}
		.teamInfo div {
			p {
				font-size: 16px;
			}
		}
	}
	.myTeam tbody th[scope="row"] {
		min-width: 150px;
	}

	thead tr th.gp, tbody tr td.gp,
	thead tr th.ftp, tbody tr td.ftp {
		display: none;
	}

	.detailsStack .imageContainer {
		justify-content: center;
		flex: unset;
		align-items: flex-start;
		img {
			height: unset;
			max-width: 100%;
		}
	}

	.detailsStack .imageContainer >  div {
		flex: unset!important;
		align-self: center;
	}

	.detailsStack .teamInfo div {
		text-align: center;
	}
	.stats .table, 
	.playerInfoContainer {
		width: 100%;
	}

	.stats .table {
		width: 700px;
	}

	.stats {
		overflow-y: scroll;
	}
}

@media (max-width: 525px) {
	thead tr th.fgp, tbody tr td.fgp,
	thead tr th.pp3, tbody tr td.pp3 {
		display: none;
	}
	.teamTable {
	    width: 100%;
	    margin: 0 auto;
	}

}

@media (max-width: 490px) {
	nav .accountsContainer {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		.accounts {
			margin-bottom: 10px;
		}
	}

	.teamTable {
		tbody tr td {
			width: 40px
		}
	}
	.teamDetails {
		padding: 10px;
	}
	.detailsStack {
		padding: 0!important;
	}
	.detailsStack .teamInfo {
		padding: 0!important;
	}

	nav .accountsContainer .accounts a {
		margin-left: 0;
	}
}



@media (max-width: 430px) {
	nav .accountsContainer .accounts.teams {
		width: 100%;
		order: 1;
		margin-top: 5px;
		a {
			padding: 14px 100px;

		}
	}
	.teamTable, .detailsStack {
		width: 95%;
	}
	.detailsStack .imageContainer div {
		text-align: center;
	}
}

@media (max-width: 400px) {
	thead tr th.blk, tbody tr td.blk,
	thead tr th.stl, tbody tr td.stl {
		display: none;
	}

	.playerInfoContainer {
		flex-wrap: wrap;
		h5 {
			margin: 0;
			width: 100%;
		    display: block;
		}
	}


}

.addbutton {
	color: $primaryColor;
	font-size: 16px;
	padding: 6px;
	&:hover {
		color: $darkBlue;
		cursor: pointer;
	}
}

.ad2 {
	margin-right: 10px;
}

tr {
	border-bottom: 1px solid rgba(0,0,0,0.1)
}





.loading {
	position: fixed;
	height: 100%;
	top: 0;
	width: 100%;
	background: rgba($lightColor, 0.9);
	z-index: 99999999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	h1 {
		display: inline-block;
		text-align: center;
	}
}

.updater {
	width: 100%;
	position: fixed;
	top: -85px;
	background: $accentStrong;
	padding: 15px 0;
	text-align: center;
	transition: all 0.4s;
	p {
		margin: 0;
		color: white;
	}
}

.updater.slide {
	top: 0;
}

.hideit {
	display: none!important;
}

.signedUpAction {
	padding: 10px 40px;
	background: #ff3d00;
	border: none;
	margin-left: 0;
	border-radius: 4px;
}

tr.avgRow {
	background-color: rgba(45,51,53,0.1);
	font-weight: bold;
}