article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Muli', cursive; }

img {
  width: 100%; }

h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
  font-weight: 100;
  color: #ff3d00; }

h1 {
  font-size: 34px;
  color: #283593; }

h2 {
  font-size: 30px;
  color: #283593; }

p {
  letter-spacing: 0.86px;
  line-height: 1.618;
  color: #232323; }

li {
  list-style: none;
  color: #232323; }

a {
  text-decoration: none;
  color: white; }

.wrapper {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto; }

.linkTransparent {
  border: 3px solid white;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer; }

.linkFull {
  border: none;
  border-radius: 3px;
  background: #ff3d00;
  font-size: 20px;
  padding: 10px;
  font-weight: 100; }

.accounts a:hover, button:hover, .linkTransparent a:hover, .linkFull:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 2px 10px 2px rgba(197, 202, 233, 0.8); }

nav {
  width: 100%;
  background: #3f51b5;
  text-align: center;
  font-size: 20px; }
  nav .wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0; }
  nav h2 {
    margin: 10px 0; }
    nav h2 a {
      color: white; }
  nav .accountsContainer {
    display: flex;
    align-items: center; }
    nav .accountsContainer .accounts a {
      border: 1px solid white;
      border-radius: 4px;
      font-size: 14px;
      margin-left: 25px;
      letter-spacing: 1px;
      font-weight: 100;
      padding: 10px 20px; }
    nav .accountsContainer .teams a {
      padding: 10px 40px;
      background: #ff3d00;
      border: none;
      margin-left: 0; }

.socialMedia {
  background: #283593; }
  .socialMedia .wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px; }
  .socialMedia .fa {
    color: white;
    font-size: 16px;
    margin-left: 20px; }
  .socialMedia .fa-twitter {
    margin-left: 30px; }

/*HOME PAGE*/
.homePage {
  width: 100%;
  height: calc(100vh - 84px);
  min-height: 540px;
  display: flex; }

.homePageText {
  flex: 1;
  font-weight: 100;
  text-align: left;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .homePageText div {
    padding: 20px 40px; }
    .homePageText div .linkFull:hover {
      cursor: pointer;
      box-shadow: 0 2px 10px 2px rgba(197, 202, 233, 0.8); }
  .homePageText h1 {
    margin: 0;
    color: #283593; }
  .homePageText p {
    width: 80%;
    font-size: 16px;
    margin: 30px auto; }
  .homePageText p:last-of-type {
    margin-bottom: 40px; }
  .homePageText a {
    font-size: 16px;
    padding: 15px 40px; }

.homePageImage {
  background: url("../../assets/img/homeHeader.jpg");
  background-size: cover;
  background-position: right;
  height: 100%;
  flex: 1; }

.ctaBanner {
  width: 100%;
  background: #ff3d00;
  color: white;
  height: 70px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  align-items: center; }
  .ctaBanner .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0; }

.information {
  height: 100vh; }
  .information .wrapper {
    display: flex;
    height: 100%;
    min-height: 450px; }
    .information .wrapper article {
      padding: 40px 20px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .information .wrapper article .infoText {
        background: white;
        padding: 10px 25px;
        text-align: center; }
      .information .wrapper article li {
        text-align: left;
        font-size: 20px;
        margin-bottom: 30px; }
        .information .wrapper article li span {
          font-weight: bold;
          font-size: 32px;
          color: #ff3d00; }
    .information .wrapper .secondImage {
      flex: 1;
      background: url(../../assets/img/emptyCourt.jpg);
      background-size: cover;
      background-position: top; }

/*LOGIN*/
.registerArea {
  height: calc(100vh - 84px);
  background: linear-gradient(rgba(197, 202, 233, 0.8), rgba(197, 202, 233, 0.8)), url(../../assets/img/signUpHero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 660px;
  margin: 0 auto;
  box-shadow: 0 2px 20px 4px black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .registerArea h2 {
    text-align: center; }

form {
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  padding: 25px;
  box-shadow: 0 3px 20px 1px grey;
  max-width: 400px;
  border-radius: 4px; }
  form h2 {
    margin: 10px 0 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }

input {
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 40px;
  background: transparent;
  height: 40px;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  letter-spacing: 1px; }

form button, .registerArea div button {
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  height: 40px;
  background-color: #ff3d00;
  color: white;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 14px; }

label {
  text-transform: uppercase;
  color: grey;
  font-size: 12px; }

.preLogin {
  width: 100%;
  height: 500px;
  background: white;
  padding: 30px; }
  .preLogin h2 {
    margin: 0; }

.redclass {
  background: rgba(255, 255, 255, 0.6); }

/*TEAM PAGES*/
.teamContainer {
  width: 100%; }
  .teamContainer .wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .teamContainer .wrapper select {
      margin: 25px auto 15px;
      text-align: center;
      font-size: 18px;
      padding: 10px 5px;
      border: none;
      box-shadow: 0 4px 10px -2px gray; }
      .teamContainer .wrapper select:hover {
        cursor: pointer; }

.teamDetails {
  display: flex;
  color: #283593;
  overflow: hidden;
  padding: 20px; }
  .teamDetails div {
    flex: 1; }

.hider {
  display: none; }

.detailsStack {
  display: flex;
  flex-direction: column;
  padding: 0 20px; }
  .detailsStack .imageContainer {
    display: flex; }
    .detailsStack .imageContainer div {
      display: flex;
      flex-direction: column;
      padding: 10px; }
    .detailsStack .imageContainer img {
      width: 120px;
      height: 120px; }
  .detailsStack .teamInfo {
    padding: 0 20px;
    display: flex; }
    .detailsStack .teamInfo div {
      flex: 1;
      text-align: left; }
      .detailsStack .teamInfo div p {
        font-size: 14px; }

.teamTable {
  max-height: 350px;
  overflow: scroll;
  box-shadow: 0 4px 20px -2px gray; }

table {
  width: 100%;
  background: rgba(197, 202, 233, 0.2); }

thead tr th {
  font-weight: 900;
  background: #c5cae9; }

tr {
  background: transparent;
  color: #232323;
  font-weight: 100; }

tbody tr td, tbody tr th, thead tr th {
  padding: 10px 5px;
  text-align: left; }

tr:hover, tr:nth-child(even):hover {
  background: linear-gradient(rgba(177, 177, 177, 0.2), #dedede); }

.rosterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .rosterContainer h1 {
    text-align: center; }
  .rosterContainer .ctaBanner {
    justify-content: center; }
    .rosterContainer .ctaBanner h2 {
      color: white; }

.myTeam {
  width: 80%;
  max-width: 960px;
  margin: 10px auto 40px; }
  .myTeam tbody a {
    color: red;
    margin-left: 10px; }
  .myTeam caption {
    margin: 20px 0; }

@media screen and (max-width: 1240px) {
  .myTeam {
    width: 95%; } }

.myTeam thead th {
  text-align: right; }
  .myTeam thead th:first-of-type {
    text-align: left; }

.myTeam tbody td.smallTable {
  width: 50px;
  text-align: right; }

.myTeam tbody td.medTable {
  width: 60px;
  text-align: right; }

.myTeam tbody td.largeTable {
  width: 80px;
  text-align: right; }

.myTeam tbody tr[scope="row"] {
  min-width: 270px; }

footer {
  background: #283593;
  color: white;
  text-align: center;
  padding: 20px 10px; }

.teamInfo-bold {
  font-weight: bold; }

@media (max-width: 1000px) {
  h2 {
    font-size: 26px; }
  .teamContainer .wrapper {
    width: 100%; }
  .detailsStack .teamInfo div p {
    font-size: 12px; }
  table {
    font-size: 14px; }
  .teamTable, .detailsStack {
    width: 80%;
    margin: 0 auto; }
    .teamTable thead tr th:nth-of-type(2), .teamTable tbody tr td:nth-of-type(1), .detailsStack thead tr th:nth-of-type(2), .detailsStack tbody tr td:nth-of-type(1) {
      display: none; }
  .myTeam thead tr th.fgm, .myTeam tbody tr td.fgm,
  .myTeam thead tr th.ftm, .myTeam tbody tr td.ftm {
    display: none; }
  .myTeam .smallTable {
    width: 60px; }
  .myTeam .largeTable {
    width: 90px; }
  .myTeam thead th {
    text-align: right; }
    .myTeam thead th:first-of-type {
      text-align: left; }
  .myTeam tbody td.smallTable {
    width: 60px;
    text-align: right; }
  .myTeam tbody td.medTable {
    width: 60px;
    text-align: right; }
  .myTeam tbody td.largeTable {
    width: 90px;
    text-align: right; }
  .myTeam tbody tr[scope="row"] {
    min-width: 270px; } }

@media (max-width: 840px) {
  .homePageText h1 {
    font-size: 30px; }
  .homePageText p {
    width: 100%; }
  .ctaBanner .linkTransparent {
    display: none; } }

@media (max-width: 700px) {
  nav .accountsContainer .accounts {
    padding: 10px 0;
    font-size: 10px; }
  nav > .wrapper {
    flex-direction: column; }
  .homePage {
    flex-direction: column; }
  .homePageImage {
    display: none; }
  .homePageText {
    background: linear-gradient(rgba(197, 202, 233, 0.2), rgba(197, 202, 233, 0.2)), url("../../assets/img/homeHeader.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    .homePageText div {
      background: rgba(255, 255, 255, 0.8); }
  .ctaBanner {
    font-size: 12px;
    text-align: center; }
  .secondImage {
    display: none; }
  .information .wrapper article {
    background: url("../../assets/img/emptyCourt.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
  .information .wrapper article .infoText {
    background: rgba(255, 255, 255, 0.97); }
  .teamDetails {
    flex-direction: column;
    flex-wrap: wrap; }
    .teamDetails .imageContainer h2 {
      font-size: 30px;
      margin: 0; }
    .teamDetails .teamInfo {
      margin: 14px 0; }
    .teamDetails .teamInfo div p {
      font-size: 16px; }
  .myTeam tbody th[scope="row"] {
    min-width: 150px; }
  thead tr th.gp, tbody tr td.gp,
  thead tr th.ftp, tbody tr td.ftp {
    display: none; }
  .detailsStack .imageContainer {
    justify-content: center;
    flex: unset;
    align-items: flex-start; }
    .detailsStack .imageContainer img {
      height: unset;
      max-width: 100%; }
  .detailsStack .imageContainer > div {
    flex: unset !important;
    align-self: center; }
  .detailsStack .teamInfo div {
    text-align: center; } }

@media (max-width: 525px) {
  thead tr th.fgp, tbody tr td.fgp,
  thead tr th.pp3, tbody tr td.pp3 {
    display: none; }
  .teamTable {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 490px) {
  nav .accountsContainer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    nav .accountsContainer .accounts {
      margin-bottom: 10px; }
  .teamTable tbody tr td {
    width: 40px; }
  .teamDetails {
    padding: 10px; }
  .detailsStack {
    padding: 0 !important; }
  .detailsStack .teamInfo {
    padding: 0 !important; }
  nav .accountsContainer .accounts a {
    margin-left: 0; } }

@media (max-width: 430px) {
  nav .accountsContainer .accounts.teams {
    width: 100%;
    order: 1;
    margin-top: 5px; }
    nav .accountsContainer .accounts.teams a {
      padding: 14px 100px; }
  .teamTable, .detailsStack {
    width: 95%; }
  .detailsStack .imageContainer div {
    text-align: center; } }

@media (max-width: 400px) {
  thead tr th.blk, tbody tr td.blk,
  thead tr th.stl, tbody tr td.stl {
    display: none; } }

.addbutton {
  color: red;
  font-size: 16px;
  margin-left: 10px; }

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .modal h1 {
    color: white;
    font-size: 80px; }
  .modal p {
    color: red; }

.stats .table {
  max-height: 250px;
  overflow: hidden;
  max-width: 1440px;
  width: 1000px;
  overflow: scroll;
  background: white;
  margin: 0 auto;
  padding: 0 10px; }
  .stats .table tr {
    box-shadow: 0 0 3px 1px lightgrey; }

.stats tr {
  background-color: white; }

.playerInfoContainer {
  max-width: 1440px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  background: white;
  padding: 0 10px;
  position: relative; }
  .playerInfoContainer h5 {
    margin-left: 20px; }

.playerDetailInfo {
  display: flex;
  margin-left: 5px; }
  .playerDetailInfo h4 {
    padding: 0 3px; }
  .playerDetailInfo h4:first-of-type {
    border-left: 1px solid red; }

table tr, table th {
  font-size: 14px; }

.exitmodal {
  font-size: 30px;
  color: red;
  position: absolute;
  top: 5px;
  right: 20px; }

.loading {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  background: rgba(197, 202, 233, 0.9);
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .loading h1 {
    display: inline-block;
    text-align: center; }
